{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Inicial</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/479f28df58.js" crossorigin="anonymous"></script>
        {% block import %}
            
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/pos.css' %}">
        <style>
            .post_media{
                display: inline;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <i class="fas fa-moon fa-2x" id="mode_adjust"></i>
                <label class="logo">Debeauty</label>
                <a href="{% url 'logout' %}">Sair</a>
                <ul>
                    <li><span id="name_user">{{ usuario.user }}</span></li>
                    <img src="{{ usuario.profile_photo }}" id="user_profile_photo">
                </ul>
            </nav>
        </header>
        <main>
            {% block menu_lateral %}
                <section id="colum1" class="">
                    <div id="menu_lateral_tela">
                        <div class="menu_lateral_tela_option" id="home_option">
                            <span class="option"><i class="fas fa-home"></i>Home</span>
                        </div>
                        <div class="menu_lateral_tela_option" id="notificacoes_option">
                            <span class="option"><i class="fas fa-bell"></i>Notificações</span>
                        </div>
                        <div class="menu_lateral_tela_option" id="pedidos_option">
                            <span class="option"><i class="fas fa-air-freshener"></i>Pedidos</span>
                        </div>
                    </div>
                </section>
            {% endblock %}

            {% block content %}
            <section id="feed">
                {% block novo_post %}
                {% endblock %}

                {% if posts %}
                    <section id="posts">
                        {% for post in posts %}
                            <div class="post">
                                <img src="{{ post.usuario.profile_photo }}" class="profile_photo">
                                <div class="post_body">
                                    <div class="post_information">
                                        <span class="name_colaborador">{{ post.usuario }}</span>
                                    </div>
                                    <div class="post_content">
                                        <span>{{ post.conteudo }}</span>
                                    </div>
                                    {% if post.midias %}
                                        {% for midia in post.midias.all %}
                                            <div class="post_media">
                                                <img src="{{ midia.imagem }}" class="media">
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="post__reactions">
                                        <i class="fas fa-thumbs-down fa-2x"></i>
                                        <i class="fas fa-heart fa-2x"></i>
                                        <i class="fas fa-ellipsis-v fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                {% endif %}
            </section>
            {% endblock %}

            <section id="colum3" class="">
                <div class="card_users_online">
                    <div id="info">
                        <span class="text">Usuários</span>
                        <span class="localization"><i class="fas fa-map-marker-alt"></i> <span class="localization__text">Belo Horizonte</span></span>
                    </div>
                    <div id="online_users_list">
                        {% if usuarios_sistema %}
                            {% for usuario in usuarios_sistema %}
                                <div class="online_user">
                                    <img src="{{ usuario.profile_photo }}" class="online_user_img">
                                    <span class="online_user_name">{{ usuario.user.username }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>

            <div class="some" id="modal_media_photo">
                <img src="" id="img_modal">
            </div>

            <div id="menu_lateral" class="some">
                <nav>
                    <i class="fas fa-times fa-2x" id="close_menu_lateral"></i>
                    <ul>
                        <li><a href="novo_pedido.html">Novo Pedido</a></li>
                        <li>Dia de Princesa</li>
                        <li>Histórico</li>
                    </ul>
                </nav>
            </div>
        </main>
        
        {% block script %}
            <script>
                /*  DARK E LIGHT MODE*/
                let mode_adjust = document.getElementById("mode_adjust");
                mode_adjust.addEventListener("click",function(){
                    document.querySelector("HTML").classList.toggle("dark-mode");
                });
                /* END */

                /* POST MEDIAS POP UP */

                let medias = document.querySelectorAll(".media");
                for(let i=0; i<medias.length; i++){
                    medias[i].addEventListener("click",show_modal);
                }

                let janela_modal = document.getElementById("modal_media_photo");
                let img_modal = document.getElementById("img_modal");
                function show_modal(e){
                    let imagem_clicada = e.currentTarget;
                    img_modal.src = imagem_clicada.src;
                    janela_modal.classList.remove("some");
                    janela_modal.classList.add("show_modal_media_photo");
                }

                janela_modal.addEventListener("click",function(){
                    janela_modal.classList.remove("show_modal_media_photo");
                    janela_modal.classList.add("some");
                });

                /* END */

                /* MENU LATERAL */

                let menu_lateral = document.getElementById("menu_lateral");
                /*document.getElementById("icon_menu").addEventListener("click", function(){
                    menu_lateral.classList.remove("some");
                });
                document.getElementById("close_menu_lateral").addEventListener("click", function(){
                    menu_lateral.classList.add("some");
                });*/


                /* END */
            </script>
        {% endblock %}
    </body>
</html>