{% extends 'base_logado.html' %}
{% load static %}

{% block import %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        #novo_pedido {
            /* background-color: red; */
        }
        #form_pedido {
            padding: 3%;
        }
        .form_pedido_linha {
            margin-bottom: 2%;
            /* background-color: green; */
        }
        textarea {
            /* border: none; */
            width: 100%;
            height: 100px;
            font-size: 14pt;
            outline: none;
            resize: none;
            padding: 8px;
            background-color: var(--body-bg);
            color: var(--text);
        }
        .show_modal{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--modais-bg);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        .show_modal .content {
            /* width: 600px;
            height: 300px; */
            background-color: white;
            font-size: 12pt;
            padding: 12pt;
            border-radius: 20px;
        }

        #open_modal {
            float: right;
        }

        #fecha_modal {
            font-size: 30px;
        }

        #modal .content #header {
            margin-bottom: 5%;
        }

        #modal .content #button_save {
            display: flex;
            flex-direction: row-reverse;
        }

        .campo_form_solicitacao {
            margin-bottom: 5%;
        }

        a {
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/historico.css' %}">
{% endblock %}

{% block menu_lateral %}
    <section id="colum1" class="">
        <div id="menu_lateral_tela">
            <div class="menu_lateral_tela_option" id="home_option">
                <span class="option"><i class="fas fa-home"></i>Home</span>
            </div>
            <div class="menu_lateral_tela_option" id="notificacoes_option">
                <span class="option"><i class="fas fa-bell"></i>Notificações</span>
            </div>
            <div class="menu_lateral_tela_option" id="pedidos_option">
                <span class="option"><i class="fas fa-air-freshener"></i>Pedidos</span>
            </div>
            <div class="menu_lateral_tela_option" id="pedidos_option">
                <span class="option"><i class="fas fa-air-freshener"></i><a href="{% url 'criaNovoPedido' %}">Novo pedido</a></span>
            </div>
        </div>
        <script>
        </script>
    </section>
{% endblock %}

{% block content %}
    <section id="novo_pedido">
        <form id="form_pedido">

            <div class="form_pedido_linha" id="data_realizacao_pedido">
                <span>Data de realização desejada: </span>
                <input type="date" id="date_picker">
            </div>

            <div class="form_pedido_linha">
                <button type="button" class="btn btn-success" id="salvar_pedido">Confirmar Data</button>
            </div>

            <div class="form_pedido_linha">
                <span id="mensagem_retorno"></span>
            </div>

            <div id="solicitacoes" class="form_pedido_linha some">
                <!--<div class="pedido">
                    <div class="tit_pedido">
                        <i class="fas fa-circle"></i> Pedido <span class="num_pedido">487544785</span>
                    </div>
                    <div class="category info">Roupas e vestuário</div>
                    <div class="data_pedido info">Realizado em <span class="real_data_pedido">25/05/2021</span></div>
                    <div class="situacao_pedido info">Concluído</div>
                    <div class="valor_estimado info">R$ 72,00</div>
                </div>-->
            </div>
            <div class="form_pedido_linha">
                <button type="button" class="btn btn-primary some" id="nova_solicitacao">Nova Solicitação</button>
            </div>
        </form>
        <div id="modal" class="some">
            <div class="content">
                <div id="header">
                    <button id="fecha_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="campo_form_solicitacao">
                    <label for="select_ramo">Selecione o ramo do serviço que você deseja: </label>
                    <select name="select_ramo" id="select_ramo" class="form-select form-select-lg mb-3" aria-label="Default select example">
                        {% for ramo in ramos %}
                            <option value="{{ ramo.id }}">{{ ramo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="campo_form_solicitacao">
                    <textarea placeholder="Descreva o serviço que você deseja e como deseja!" id="myTextarea" name="conteudo_descricao"></textarea>
                </div>
                <div class="campo_form_solicitacao">
                    <label for="media_solicitacao">Se preferir, envie uma imagem que ilustre o serviço desejado: </label>
                    <input type="file" name="media_solicitacao" id="media_solicitacao">
                </div>
                <div id="button_save">
                    <button type="button" class="btn btn-primary" id="salva_solicitacao">Salvar</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        let button_nova_solicitacao = document.getElementById("nova_solicitacao");
        button_nova_solicitacao.addEventListener("click", ()=>{
            document.getElementById("modal").classList.remove("some");
            document.getElementById("modal").classList.add("show_modal");
        })

        let fecha_modal = document.getElementById("fecha_modal");
        fecha_modal.addEventListener("click", ()=>{
            document.getElementById("modal").classList.remove("show_modal");
            document.getElementById("modal").classList.add("some");
        })

        let salvar_pedido = document.getElementById("salvar_pedido");
        salvar_pedido.addEventListener("click", ()=>{
            let date_picker = document.getElementById("date_picker");
            let data = date_picker.value;
            let url = '/salva_pedido?data='+data;
            let xhr = new XMLHttpRequest();
            xhr.open('GET', url);
            xhr.onreadystatechange = () => {
                if(xhr.readyState == 4) {
                    if(xhr.status == 200) {
                        let resposta = xhr.responseText;
                        resposta = JSON.parse(resposta);
                        let mensagem = "Seu pedido foi salvo e a ele foi atribuido o código " + resposta["response"] + ". Quando desejar, adicione solicitações a ele clicando abaixo."
                        document.getElementById("mensagem_retorno").innerHTML = mensagem;
                        document.getElementById("data_realizacao_pedido").classList.add("some");
                        document.getElementById("salvar_pedido").classList.add("some");
                        document.getElementById("salvar_pedido").classList.add("some");
                        document.getElementById("nova_solicitacao").classList.remove("some");
                        localStorage.setItem("id_pedido",resposta["response"]);
                    }
                }
            };
            xhr.send();
        })

        let salvar_solicitacao = document.getElementById("salva_solicitacao");
        salvar_solicitacao.addEventListener("click", ()=>{
            let select_ramo = document.getElementById("select_ramo");
            let ramo = select_ramo.value;

            let conteudo_descricao = document.getElementById("myTextarea");
            let descricao = conteudo_descricao.value;
            conteudo_descricao.value = '';

            let id_pedido = localStorage.getItem("id_pedido");

            let media_solicitacao = document.getElementById("media_solicitacao");
            let media = media_solicitacao.value;
            media_solicitacao.value = '';

            let url = '?ramo='+ramo+'&descricao='+descricao+'&id_pedido='+id_pedido+'&media='+media;
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/salva_solicitacao'+url, true);
            xhr.onreadystatechange = () => {
                if(xhr.readyState == 4) {
                    if(xhr.status == 200) {
                        let resposta = xhr.responseText;
                        resposta = JSON.parse(resposta);
                        resposta = resposta["response"]
                        fecha_modal.click()
                        document.getElementById("solicitacoes").classList.remove("some");

                        let div_pedido = "<div class='pedido'>";
                        div_pedido += "<div class='tit_pedido'>";
                        div_pedido += "<i class='fas fa-circle'></i> Pedido <span class='num_pedido'>"+resposta["pedido"]+"</span>";
                        div_pedido += "</div>"
                        div_pedido += "<div class='category info'>"+resposta["ramo"]+"</div>"
                        div_pedido += "<div class='data_pedido info'>Realizado em <span class='real_data_pedido'>"+resposta["data"]+"</span></div>"
                        div_pedido += "<div class='situacao_pedido info'>"+resposta["status"]+"</div>"
                        div_pedido += "</div>"
                        

                        document.getElementById("solicitacoes").innerHTML += div_pedido;
                        document.getElementById("mensagem_retorno").classList.add("some");
                    }
                }
            };
            xhr.send();
        })
    </script>
{% endblock %}