{% extends 'base_logado.html' %}
{% load static %}

{% block import %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        #novo_pedido {
            /* background-color: red; */
        }
        #form_pedido {
            padding: 3%;
        }
        .form_pedido_linha {
            margin-bottom: 2%;
            /* background-color: green; */
        }
    </style>
{% endblock %}

{% block menu_lateral %}
    <section id="colum1" class="">
        <div id="menu_lateral_tela">
            <div class="menu_lateral_tela_option" id="home_option">
                <span class="option"><i class="fas fa-home"></i>Home</span>
            </div>
            <div class="menu_lateral_tela_option" id="notificacoes_option">
                <span class="option"><i class="fas fa-bell"></i>Notificações</span>
            </div>
            <div class="menu_lateral_tela_option" id="pedidos_option">
                <span class="option"><i class="fas fa-air-freshener"></i>Pedidos</span>
            </div>
            <div class="menu_lateral_tela_option" id="pedidos_option">
                <span class="option"><i class="fas fa-air-freshener"></i><a href="{% url 'criaNovoPedido' %}">Novo pedido</a></span>
            </div>
        </div>
        <script>
        </script>
    </section>
{% endblock %}

{% block content %}
    <section id="novo_pedido">
        <form id="form_pedido">

            <div class="form_pedido_linha">
                <span>Data de realização desejada: </span>
                <input type="date">
            </div>

            <div class="form_pedido_linha">
                <div id="horario_inicial">
                    <span>Horário inicial: </span>
                    <input type="time">
                </div>
            </div>

            <div class="form_pedido_linha">
                <div id="horario_final">
                    <span>Horário final: </span>
                    <input type="time">
                </div>
            </div>

            <div id="solicitacoes" class="form_pedido_linha">

            </div>
            <div class="form_pedido_linha">
                <button type="button" class="btn btn-primary">Nova Solicitação</button>
            </div>
        </form>
    </section>
{% endblock %}