{% extends 'base_logado.html' %}

{% load static %}

{% block menu_lateral %}
    <section id="colum1" class="">
        <div id="menu_lateral_tela">
            <div class="menu_lateral_tela_option" id="home_option">
                <span class="option"><i class="fas fa-home"></i>Home</span>
            </div>
            <div class="menu_lateral_tela_option" id="notificacoes_option">
                <span class="option"><i class="fas fa-bell"></i>Notificações</span>
            </div>
            <div class="menu_lateral_tela_option" id="pedidos_option">
                <span class="option"><i class="fas fa-air-freshener"></i>Pedidos</span>
            </div>
            <div class="menu_lateral_tela_option" id="pedidos_option">
                <span class="option"><i class="fas fa-air-freshener"></i><a href="{% url 'criaNovoPedido' %}">Novo pedido</a></span>
            </div>
        </div>
        <script>
        </script>
    </section>
{% endblock %}